{% extends "index.html" %}
{% load static %}
{% block title %}
Home | Fraud Detection System
{% endblock %}

{% block content %}
<main id="main" >
  <div id="header-container" style="
  background-image: url(/static/assets/img/slide/Rectangle%203.png);
  background-repeat: no-repeat;
  height: 32vh;
  background-position: center bottom;
  background-size: 100% auto;
  "></div>
    <!-- ======= Hero Section ======= -->
    <section id="homesection" style="padding: 0px 0px;">
      ABOUT SECTION.... 
    </section><!-- End Hero -->
    
    </main>
  
{% endblock %}