{% extends "index.html" %}
{% load static %}
{% block title %}
Home | Fraud Detection System
{% endblock %}
{% block css %}

<link href="{% static 'assets/css/teststyle.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<main id="main" >

  <!-- ======= Hero Section ======= -->
  <section id="homesection" style="padding: 0px 0px;">
	<!--__________________________________ header-box______________________________________________ -->
	<div id="header-container" style="
 background-image: url(/static/assets/img/slide/Rectangle%203.png);
 background-repeat: no-repeat;
 height: 32vh;
 background-position: center bottom;
 background-size: 100% auto;
 "></div>
	<div id="header-container">
		<h1 id="header2">ESTUDANTES
		</h1>
	</div>
<!-- ___________________________________main-division____________________________________________ -->

	<div class=fraud-container style="margin-bottom: 10px;">
		<div class=fraud-header-container>
			<h3 class="fraud-header">DETALHES DO UPDATE</h3>
		</div>
		<div class="personaldatacontainer">
			<form class="personaldata">
				<h3>Detalhes do Login do Usuário</h3><hr>
				<section>
				<div>
				<label>Primeiro nome do Usuário</label><br>
				<input class="input" type="text" name="" placeholder="Primeiro nome do Usuário">
				</div>

				<div>
				<label>Último nome do Usuário</label><br>
				<input class="input" type="text" name="" placeholder="Último nome do Usuário">
				</div>

				<div>
				<label>Login ID</label><br>
				<input class="input" type="text" name="" placeholder="Login ID do usuário">
				</div>
				</section>
				
				<h3>Dados pessoais do usuário</h3><hr>
				<section>
				<div>
				<label>Gênero</label><br>
				<article>
				<input type="radio" class="radio" name="gender">Masculino
				<input type="radio" class="radio" name="gender">Feminino</article>
				</div>

				<div>
				<label>Email do Usuário</label><br>
				<input class="input" type="text" name="" placeholder="Email">
				</div>

				<div>
				<label>Usuário de dispositivo móvel</label><br>
				<input class="input" type="text" name="" placeholder="Telefone">
				</div>

				<div>
				<label>Data de Nascimento do Usuário</label><br>
				<input class="input" type="text" name="" placeholder="Data de Nascimento">
				</div>

				<div>
				<label>Endereço do Usuário (Linha 1)</label><br>
				<input class="input" type="text" name="" placeholder="Endereço do usuário">
				</div>

				<div>
				<label>Endereço do Usuário (Linha 2)</label><br>
				<input class="input" type="text" name="" placeholder="Endereço do usuário">
				</div>

				<div>
				<label>Cidade do Usuário</label><br>
				<input class="input" type="text" name="" placeholder="Cidade">
				</div>

				<div>
				<label>Estado do Usuário</label><br>
				<input class="input" type="text" name="" placeholder="Estado">
				</div>

				<div>
				<label>País do Usuário</label><br>
				<input class="input" type="text" name="" placeholder="País">
				</div>

				<div>
				<label>Foto do Usuário</label><br>
				<input class="input" type="file" class="file" name="">
				</div>


				</section>
				<div class="btn-cover">
				<input  class="btn" type="button" name="" value="SUBMETER" style="
				background-color: #4471e2;">
			</form>
		</div>
	</div>
  </section><!-- End Hero -->

  </main>

  
{% endblock %}

	
{% block style %}

.btn{
	width: 100%;
	margin: 0px auto 0px auto;
	padding: 10px;
	color: #FFFFFF;
	font-size: 15px;
	background-color: #5cb874;
	border-style: none;
	 
}
.btn:hover{
	opacity: 0.8;
}
.btn-cover{
	width: 90%;
	margin: 20px auto 10px auto;

}

.fraud-container .singlefilediv form{
	padding: 10px;
	margin: 10px;
}
.fraud-container .singlefilediv form input{
	padding: 10px;
	margin: 10px 0px 10px 0px;
}

.fraud-container .personaldatacontainer .personaldata section{
	display: grid;
	grid-template-rows: repeat(2);
	grid-template-columns: repeat(2,1fr);
}
.fraud-container .personaldatacontainer{
	padding: 10px;
}
.fraud-container .personaldatacontainer .personaldata section div{
	padding: 10px;
}
.fraud-container .personaldatacontainer .personaldata .input{
	margin: 5px;
	padding: 10px;
	width: 80%;
}
.fraud-container .personaldatacontainer .personaldata .radio{
	margin: 0px;
	padding: 0px;
	width:20px;

}
article{
	border: 1px solid black;
	padding: 10px;
	width: 80%;
	margin: 5px;
}
{% endblock %}
